In [36]:
import joblib
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [37]:
x_train = joblib.load('../data/processed/x_train.pkl')
y_train = joblib.load('../data/processed/y_train.pkl')
x_test = joblib.load('../data/processed/x_test.pkl')
y_test = joblib.load('../data/processed/y_test.pkl')
x_valid = joblib.load('../data/processed/x_valid.pkl')
y_valid = joblib.load('../data/processed/y_valid.pkl')

In [38]:
print(x_train.shape , y_train.shape)
print(x_test.shape , y_test.shape)
print(x_valid.shape , y_valid.shape)

(45207, 8) (45207,)
(9395, 8) (9395,)
(9394, 8) (9394,)

In [39]:
x_train.describe()

,Temperature,Humidity,TVOC,eCO2,Raw_H2,Raw_Ethanol,Pressure,PM1.0
count,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000
mean,17.610430,49.304615,436.613201,407.563010,12977.059836,20039.893136,938.710521,1.431622
std,10.459760,4.560243,527.094737,14.111789,175.507645,505.881437,0.932293,0.688125
min,-8.572000,35.195973,0.000000,400.000000,12306.000000,18520.000000,936.865138,0.000000
25%,13.419500,46.833683,46.000000,400.000000,12828.000000,19451.000000,937.532000,0.820000
50%,20.343000,49.398132,157.000000,400.000000,12951.000000,20007.000000,938.770000,1.700000
75%,26.003335,52.960000,1118.000000,410.000000,13127.000000,20546.000000,939.630000,1.944329
max,41.246102,63.530000,2808.000000,472.000000,13505.000000,21401.000000,939.861000,3.250000

In [40]:
sc = StandardScaler()
x_train_nr = sc.fit_transform(x_train)

In [41]:
x_train_norm = pd.DataFrame(x_train_nr, columns=x_train.columns)
x_train_norm

,Temperature,Humidity,TVOC,eCO2,Raw_H2,Raw_Ethanol,Pressure,PM1.0
0,0.909168,-0.424240,1.501429,-0.181624,-0.387793,-1.209572,0.018749,0.331889
1,0.896739,-0.356260,1.693048,-0.394214,-0.034528,-1.276782,0.041274,0.433616
2,0.042025,0.784042,-0.644319,-0.535942,1.224690,0.075328,1.023809,-0.540056
3,0.821211,0.496774,1.581112,-0.535942,-0.034528,-1.249107,0.015531,0.477213
4,1.034411,-1.389111,-0.539972,1.660828,-1.156998,1.032085,-1.452908,0.767861
...,...,...,...,...,...,...,...,...
45202,-0.853129,-0.516341,-0.737282,0.243557,-1.025949,1.332554,-1.261979,1.043977
45203,0.878574,-0.224687,1.657001,-0.535942,-0.000341,-1.255037,-0.001631,0.477213
45204,-0.479407,0.977017,1.287044,-0.535942,-0.450469,-1.162129,0.040202,0.520810
45205,0.316413,0.406865,-0.164324,-0.535942,0.523859,-0.244908,0.597973,-1.441065
45206,0.891959,-0.358453,1.334475,-0.252487,-0.547332,-1.185851,0.078817,0.041241

In [42]:
new_cols = ['Temperature', 'Humidity', 'TVOC', 'eCO2', 'Raw_H2', 'Raw_Ethanol', 'Pressure', 'PM1.0']

x_test = x_test[new_cols].copy()
x_valid = x_valid[new_cols].copy()

In [43]:
joblib.dump(x_train, '../data/processed/x_train.pkl')
joblib.dump(x_train_norm, '../data/processed/x_train_norm.pkl')
joblib.dump(y_train, '../data/processed/y_train.pkl')
joblib.dump(x_valid, '../data/processed/x_valid.pkl')
joblib.dump(y_valid, '../data/processed/y_valid.pkl')
joblib.dump(x_test, '../data/processed/x_test.pkl')
joblib.dump(y_test, '../data/processed/y_test.pkl')

['../data/processed/y_test.pkl']

In [44]:
print(x_train.shape , y_train.shape)
print(x_train_norm.shape , y_train.shape)
print(x_test.shape , y_test.shape)
print(x_valid.shape , y_valid.shape)

(45207, 8) (45207,)
(45207, 8) (45207,)
(9395, 8) (9395,)
(9394, 8) (9394,)